body {
  background-color: black;
  margin: 30px;
}

h1 {
  color: maroon;
}

h2 {
  color: black;
}

p {
  color: white;
}

.summary {
  background-color: gray;
  border: solid 1px white;
  padding: 30px;
  margin-bottom: 10px;
}

.pic img {
  width: 300px;
  float: right;
}

.jsoutput {
  background-color: gray;
  border: solid 1px white;
  padding: 30px;
}
